:root {
    --primary-color: #5ce1e6;
    --accent-color: #f2dea2;
    --bg-color: #FFFF;
    --contrast-color: #000;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.primary {
    color: var(--primary-color);
}

p, h1, h2, h3 {
    line-height: 1.5 !important;
}

p {
    font-size: 19px !important; 
}

h1 {
    font-size: 64px !important;
}

h2 {
    font-size: 40px !important;


}

h3 {
    font-size: 32px !important;

}