:root {
    --primary-color: #5ce1e6;
    --text-accent: #0CB4BB; 
    --accent-color: #f2dea2;
    --bg-color: #f6f6f6; 
    --bg-blue: #E1F3F4;
    --contrast-color: #9b8f8f;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    overflow-x: hidden;
    width: 100vw;
}

.border-light {
    --bs-border-opacity: 0 !important;
    border-color: rgba(var(--bg-color), var(--bs-border-opacity)) !important;
}

.article {
    background-color: var(--bg-color) !important;
}

.primary {
    color: var(--primary-color);
}
.textaccent {
    color: var(--text-accent);
}
.textwhite {
    color: var(--bg-color);
}

.textorange {
    color:#D68321;
}
.background-gray {
    background-color: var(--bg-color);
}
.background-blue {
    background: linear-gradient(90deg, #5CE1E6 0%, #0FC4CB 101.04%);
}

.blue-gradient {
    background: linear-gradient(181.62deg, rgba(200, 240, 242, 0.05) -0.45%, rgba(196, 253, 255, 0.65) 82.51%);
    width: 100%;

}

.row {
    width: 100%;
    height: auto;
    gap: 0px;
    
}
.header-links {
    font-weight: 500 !important;
    text-align: center !important;
    margin: 0px;
}

.logo {
    display: block;
        width: 89px;
        height: 89px;
        top: 1px;
        left: 600px;
        gap: 0px;
        opacity: 0px;
        margin: 0 auto;
    
}
.header-button {
    color: #233142 !important;
    font-weight: 500 !important;
    border-radius: 20px !important;
    padding: 5px 24px !important;
    border-style: none !important;
    margin: 5px 1px !important;
    background-color:var(--primary-color) !important;
    transition: all 200ms ease-in-out !important;
    box-shadow: 1px 1px 1px .25px #455d7a !important;
}

.accent-button {
    color: #233142 !important;
    font-weight: 500 !important;
    border-radius: 20px !important;
    padding: 5px 24px !important;
    border-style: none !important;
    margin: 5px 1px !important;
    background-color: var(--accent-color) !important;
    transition: all 200ms ease-in-out !important;
    box-shadow: 1px 1px 1px .25px #455d7a !important;
}

.social-media {
    color: #4C6869;
    margin:4px;
}

.footer-link {
    color: #233142;
    text-decoration: none;
}
.footer-link:hover {
    color: #304b6d;
    text-decoration: none;
}

hr {
    margin: 2px !important;
}
p, h1, h2, h3 {
    font-family: "Lexend", sans-serif !important;
}

p {
    
    font-size: 14px !important;
    font-weight: 300 !important;
    line-height: 28px !important;
    letter-spacing: 0.03em !important;
    text-align: left ;
}

h1 {
        font-size: 34px !important;
            font-weight: 700 !important;
            line-height: 52.7px !important;
            text-align: left;
}

h2 {
    
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 31px !important;
    text-align: left !important;


}

h3 {
    font-size: 18px !important;
    font-weight: 200 !important;
    line-height: 22.5px !important;
    text-align: left !important;
}


.footer {
    background: var(--bg-blue) !important;
}

.navbar-inner {
    background: transparent !important;
}

button.selector,
input.search,
button.selector-current {
    color: #233142;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px 15px;
    border-style: none;
    margin: 5px 5px;
    background-color: var(--bg-blue);
    transition: all 200ms ease-in-out;
    box-shadow: 0px 1px 2px 0px #ABC3C4;
}

button.selector:hover {
    background-color: #233142;
    color: #e3e3e3
}

button.selector.clicked {
    background-color: #0B7177;
    color: #e3e3e3
}

button.selector.clicked:hover {
    color: #233142
}

iframe {
    border-radius: 5px;
    width: 100%;
    height: auto;
}
.icon {
    display: block;
    margin: 0 auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    top: 50%;
    transform: translateY(-50%);
    filter: invert(100%);
}
.carousel {
    padding-left: 10%;
    padding-right: 10%;
}
.carousel-item > .row > div {
    height: 400px;
}
